* {
    padding: 0;
    margin: 0;

}

.linksContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adminTotals {
    float: right;
    display: inline;
}

.adminLink {
    border: solid white 2px;
    color: greenyellow;
    font-size: 2em;
}

.adminLink>a:visited {
    color: greenyellow;
}

.adminLink>a {
    text-decoration: none;
    color: black;
}

.reportContainer,
.restroomContainer,
.usersContainer,
.submissionsContainer {
    margin: auto;
    width: 25%;
    color: greenyellow;
}

.reportHeader,
.restroomHeader,
.usersHeader,
.submissionsHeader {
    border: solid white 2px;
}

.reportData,
.restroomData,
.usersData,
.submissionsData {
    float: right;
    display: inline;
}

.reportImage,
.restroomImage {
    height: 25vh;
    width: max-content;

}

img {
    width: inherit;
    height: inherit;
}