img {
    max-height: 40vh;
    margin-left: 3px;
}

.reportButton {
    padding: 2em;
    margin-top: 2em;
}

.superContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    background-color: rgb(113, 221, 183);
}

.lat {
    grid-row: 1;
}

.lng {
    grid-row: 2;
}

.address {
    grid-row: 3;
}

.cRating {
    grid-row: 4;
}

.lRating {
    grid-row: 5;
}

.description {
    grid-row: 6;
}

.img {
    grid-row: 1 / span 6;
    grid-column: 2;
}